/** Powered by Anderson Arruda and Sysborg - sysborg.com.br | andersonarruda.com.br **/
.header-top li{ font-size:14px; }
.header-top-menu li{ font-size:16px; font-weight: bold; }
a{ 
    color: #000 !important;
    text-decoration: none !important;
}