header a, footer a{
    color:#000;
    font-weight:bold;
}

header a:hover, footer a:hover{
    color: #222;
}

.quick-menu a{
    font-weight: normal !important;
}

.main-menu{
    border-top-left-radius: 1.5em !important;
    border-bottom-left-radius: 1.5em !important;
}

.banner{
    text-align: center;
    margin-top: 2.5em;
}

footer{
    margin-top: 2.5em;
    background-color: #F8F8F8;
    padding: 1em 0;
}

#banner-promotion{
    border-radius: 1.5rem;
    font-weight: bold;
}

.product-list{
    padding: 1rem;
    border-radius: 20px;
    margin: 0 auto;
}

.product-list section{
    text-align: center;
    position: relative;
}

.product-list section h2{
    font-size: 20px;
    font-weight: bold;
}

.product-list section .infos{
    text-align: left;
    margin: 0 auto;
}

.product-list section .infos .old-price{
    text-decoration: line-through;
    margin-bottom: 0.5rem;
}

.product-list section .infos .price{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

.product-list section .action{
    margin-top: 2rem;
    text-align: right;
}

.product-list .row{
    margin-bottom: 2rem;
}

.product-list .row .col-md-4{
    padding-top:5rem;
}

.free-shipping{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    border: 1px solid transparent;
}

@media screen and (min-width:992px){
    #aside-menu{
        display: block !important;
    }
}

@media screen and (max-width:991px){
    #banner-promotion{
        display: none !important;
    }

    #store-phone-number{
        display: none !important;
    }
}

@media screen and (max-width:800px){
    .quick-menu{
        margin-bottom: 2rem;
    }
}

.cart-info{
    text-align: right;
}

.body-admin{
    background-color: #ffffff;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #f9f9f9 25%, transparent 25%), linear-gradient(225deg, #f9f9f9 25%, transparent 25%), linear-gradient(45deg, #f9f9f9 25%, transparent 25%), linear-gradient(315deg, #f9f9f9 25%, #ffffff 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
}

.body-admin footer{
    background: #fff;
}

.admin-content{
    background: #fff;
    padding-top: 1rem;
    min-height: 600px;
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.1);
}

.alert ul{
    margin-bottom: 0 !important;
}

.img-container{
    width:230px;
    height:154px;
    overflow:hidden;
    margin-bottom: 1rem;
    text-align: center;
}

.img-container img{
    max-width:230px;
    margin: 0 auto;
}